@media screen and (max-width: 1440px) and (min-width: 769px){
    h1{
        font-size: 40px !important;
    }
    footer{
        font-size: 10px !important;
        height: 15em !important;
    }
    .interest-text{
        padding-top: 2em;
    }
    .source-list{
        font-size: 20px;
    }
    .flip-box{
        width: 9em !important;
        height: 15em !important;
    }
    .flip-box-back p{
        line-height: 1em !important;
        font-size: 10px !important;
    }
    .flex_middler{
        h5{
            font-size: 20px !important;
        }
        p{
            font-size: 5px !important;
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 0px){
    h1{
        font-size: 20px !important;
    }
    .table-header{
        padding-top: 2em;
    }
    footer{
        font-size: 5px !important;
        height: 15em !important;
    }
    .interest-text{
        padding-top: 3em;
    }
    .mobile-menu{
        display: flex;
    }
    .desktop-menu{
        display: none;
    }
    .source-list{
        padding-top: 4em;
    }
    .source-list{
        font-size: 10px;
    }
    .flip-box{
        width: 6em !important;
        height: 12em !important;
    }
    .flip-box-back p{
        line-height: 1em !important;
        font-size: 10px !important;
    }
    .logo{
        display: none;
    }
    .menu a{
        font-size: 10px;
    }
    .flex_middler{
        h5{
            font-size: 5px !important;
        }
        p{
            font-size: 3px !important;
        }
        img{
            width: 50px;
            height: 50px;
        }
        audio{
            width: 50px;
            height: 50px;
        }
    }
}
