@keyframes flying_anim {
    100%{
        opacity: 1;
        transform: translateY(0);
    }    
}

@keyframes rainbow_animation {
    0%, 100%{
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
}

body{
    // background: url('/media/images/wallpaper.jpg');
    background: url('/media/images/wallpaper_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.table-header{
    transform: translateY(16px);
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    animation: flying_anim 2s ease-in-out forwards;
}

.reverse_image{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    z-index: 0;
}

td{
    transform: translateY(16px);
    opacity: 0;
    height: 10em;
    border-radius: 0.5em;
    box-shadow: 0.1em 0.1em 1.5em black;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, red, orange, yellow, green, aqua, blue, purple);
    animation: flying_anim 2s ease-in-out forwards;
}

ul{
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 2em;
    font-weight: 700;
    font-size: 2em;
    color: beige;
}

.footer-comp::before{
    margin-right: 1em;
}

.footer-comp:nth-child(1)::before {
    content: '\1F3E0';
}

.footer-comp:nth-child(2)::before {
    content: '\1F4E7';
}

.footer-comp:nth-child(3)::before {
    content: '\260E';
}

.footer-comp:nth-child(1)::after{
    content: " - Ulica";
}

.footer-comp:nth-child(2)::after{
    content: " - Poczta";
}

.footer-comp:nth-child(3)::after{
    content: " - Telefon";
}

footer{
    height: 35em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: rgb(59, 59, 59);
}

.footer-image{
    background-size: contain;
    background-repeat: no-repeat;
    height: 96%;
    width: 50%;
    margin-right: 2em;
}

h5{
    font-weight: bolder;
}

section{
    width: 90%;
    table{
        width: 100%;
    }
}

.header_img{
    width: 27%;
    background-size: contain;
    background-repeat: no-repeat;
}

h1{
    font-size: 10em;
    background: linear-gradient(to right, red, orange, yellow, green, aqua, blue, purple);
    animation: rainbow_animation 6s ease-in-out infinite;
    color: transparent;
    -webkit-background-clip: text;
    background-size: 400% 100%;
    font-weight: bold;
    font-size: 8.8em;
    white-space: nowrap;
    // text-shadow: -4px -4px black;
}

.flex_middler{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.flex_middler{
    h5{
        transform: translateY(25px);
        transition: 3s;
        font-size: 2em;
        font-weight: bold;
        text-shadow: 0.2em 0.2em 0.3em black;
    }
    p{
        font-size: 1em;
        text-shadow: 0.2em 0.2em 0.3em black;
        font-weight: bold;
        opacity: 0;
        transform: translateY(16px);
        transition: 3s;
    }
    p:nth-child(3){
        font-size: 0.5em;
    }
}

td:hover{
    cursor: pointer;
    .flex_middler{
        h5{
            transform: translateY(0) !important;
        }
        p{
            cursor: pointer;
            transform: translateY(0);
            opacity: 1;
        }
    }
}

 @keyframes marquee-move-text {
    to {
        transform: translateX(-50%);
    }
 }
.wrapper{
    width: 100%;
    height: 1em;
    font-size: 20px;
    padding: 4px 0 4px 0;
    background: yellow;
}
.marquee-text-track{
    display: inline-flex;
    align-items: center;
    gap: 10rem;
    padding-left: 4.8rem;
    width: max-content;
    animation: marquee-move-text 5s linear infinite;
    p{
        font-size: 0.65em;
        font-weight: bold;
        white-space: nowrap;
    }

}
.marq_list{
    display: flex;
    gap: 4.8rem;
    overflow: clip;
}
.fadeout_horizontal{
    mask-image: linear-gradient(
        to right,
        transparent,
        black 5rem,
        black calc(100% - 5rem),
        transparent
    );
}