.interest-text{
    padding-top: 0.25em;
}
.grid-sector{
    display: grid;
    grid-template-columns: repeat(2, 48.5%);
    grid-auto-rows: 32.6%;
    grid-row-gap: 1.2500em;
    grid-column-gap: 20px;
    row-gap: 5%;
}
.flip-box {
  background-color: transparent;
  width: 13em;
  height: 20em;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:nth-child(odd):hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box:nth-child(even):hover .flip-box-inner {
  transform: rotateY(-180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
  justify-content: end;
  align-items: center;
}

.flip-box-back {
  background-color: #55555583;
  color: white;
  transform: rotateY(180deg);
  justify-content: center;
  align-items: center;
}

.red-container{
    background: url('/media/images/redpic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.yellow-container{
    background: url('/media/images/yelpic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.blue-container{
  background: url('/media/images/blupic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.green-container{
  background: url('/media/images/grepic.JPG');
  background-size: cover;
  background-repeat: no-repeat;
}
.gray-container{
  background: url('/media/images/grapic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.purple-container{
  background: url('/media/images/purpic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.flip-box-front{
    p{
        height: 25%;
        width: 100%;
        background: #3838383b;
        text-align: center;
        padding-top: 0.5em;
        font-size: 2em;
        font-weight: bold;
        color: bisque;
    }
}
.flip-box-back{
    p{
        text-align: center;
        font-size: medium;
        font-weight: 700;
        line-height: 2em;
    }
}

.extra-info{
  color: white;
  font-size: 2em;
  font-weight: 700;
  text-shadow: 2px 2px 3px black;
}