.main-block{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 6.25rem;
    width: 100%;
    background: black;
    z-index: 1;
}
.logo{
    position: absolute;
    opacity: 0.5;
    background: rgb(163, 163, 163, 0.67);
    width: 8em;
    height: 6.25em;
    right: 5%;
    background-size: cover;
}
section{
    div{
        div{
            position: absolute;
            left: 3em;
            transition: .3s;
        }
    }
}
.desktop-menu{
    display: block;
}
a {
    color: black;
    text-decoration: none;
    margin: 0 1em 0 1em;
    border-radius: 0.5em;
    transition: .3s;
}
.mobile-menu{
    display: none;
    left: 5%;
    width: 2em;
    height: 2em;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.mobile-menu span{
    display: block;
    width: 100%;
    height: 0.2em;
    background: white;
    transition: .3s;
}
.mobile-menu:hover{
    cursor: pointer;
}
.direction_changer{
    transform: translateY(-8px)
    rotate(-45deg);
}
.disappear_block{
    display: none !important;
}
.direction_changer_2{
    transform: translateY(8px)
    rotate(45deg);
}
.transfer_block{
    left: 0 !important;
}
#overlay{
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: 0;
    background: rgba(77, 77, 77, 0.555);
}
.menu{
    position: fixed;
    min-height: 90vh;
    width: 60%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background: transparent;
    backdrop-filter: blur(35px);
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.25);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    bottom: 0;
    transition: .3s;
    left: -100%;
}
.menu a:nth-child(1){
    margin-top: 1em;
}
.menu a{
    text-decoration: none;
    width: 90%;
    height: 50px;
    background: orange;
    border: 2px solid black;
    color: black;
    border-radius: 10px;
    display: block;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}
.menu a:hover{
    background: black;
    border: 2px solid orange;
    color: orange;
}
.menu a:active{
    background: lightgrey;
    color: black;
    border: none;
}
.overfloq_hide{
    overflow-y: hidden;
}